.container {
  width: 100%;
  max-width: 1550px;
  height: auto;
  margin: 0 auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}